DATABASE_URL="postgresql://postgres.xxxx:[PASSWORD]@aws-0-xx.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.xxxx:[PASSWORD]@aws-0-xx.pooler.supabase.com:5432/postgres"
JWT_SECRET="your_jwt_secret_here"
PORT=4000
NODE_ENV=development
CRON_SECRET="your_cron_secret_here"
FRONTEND_URL="https://your-frontend.vercel.app"
